@model IEnumerable<Domain.Domain.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>All question and answers</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.DatabaseId">Ask Question</a>
</p>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionAnswer)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-databaseId="@ViewBag.DatabaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
